{% extends "basevideo.html" %}
{% load static %}

{% block titulo %}
{{episodio.titulo}} - NetPi
{% endblock  %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/telaepisodio.css' %}">
{% endblock  %}

{% block content %}

{% comment %} {% if episodio.video|slice:"-4:" == ".mp4" %} {% endcomment %}
<div>
    <video width="1280" height="720" id="videoPlayer" controls="" name="media"><source src="{{episodio.video}}" type="video/mp4"></video>
</div>
{% comment %} {% else %}
<div>
    <iframe width="1280" height="720" src="{{episodio.video}}" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %} {% endcomment %}

{% endblock  %}
